.btn {
    background: $accentColor;
    color: #fff;
    border-radius: 28px;
    box-shadow: 0 0 50px 20px rgba(6, 204, 153, .25);
    text-decoration: none;
    font-size: 16px;
    display: inline-block;
    padding: 18px 80px;
    border: none;
    text-align: center;
    outline: none;

    &-yellow {
        background: #fef33b;
        color: $textColor;
        box-shadow: 0 0 50px 20px rgba(255, 169, 19, .3);
    }
    
    @media (max-width: 400px) {
        padding-left: 10px;
        padding-right: 10px;
        width: 100%;
    }
}